// ---------------------------------------------------------- //
// VARS
// ---------------------------------------------------------- //
#Root {

    .field {
        // Flexbox fieldgroup
        &.CompositeField.md-fieldgroup--flexible {
            .md-fieldgroup--flexible {
                display: flex;
                flex-flow: row nowrap;
                align-items: flex-start;

                .field.CompositeField.form__field-holder {
                    @media (min-width: 1200px) {
                        margin-left: 0;
                        max-width: none;    
                    }
                }
            }

        }
    }
}
